 /* Manera alternativa de controlar colores */
:root
{
  --primary-color: Firebrick;
  --secondary-color: #EFA9AE;
}
.Card
{
  background-color: var(--primary-color);
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  margin:20px;
  width: 200px;
  vertical-align: top;

}

.Card .title
{
  color:#0F0F0F;
  font-size:30px;
}

.Card button
{
  background-color:black;
  border:none;
  border-radius:4px;
  color: var(--secondary-color);
  cursor:pointer;
  display:inline-block;
  font-size:20px;
  margin:0 auto;
  padding:5px;
  width: 100%;
}
